.carouselWrapper {
    overflow: hidden;
    height: 100vh;
    position: relative;
  }
  
  .carouselContainer {
    display: flex;
    flex-direction: row;
    width: max-content;
  }
  
  .carouselItem {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: #e0e0e0;
    border-right: 1px solid #ccc;
  }
  